<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<!-- <session-factory  name="java:hibernate/SessionFactory"> -->
<!-- Tomcat Configuration <property name="connection.datasource">java:/comp/env/jdbc/aviators</property>
     Jboss  Configuration <property name="connection.datasource">java:/comp/env/jdbc/aviators</property> 
-->

<session-factory>
  <property name="connection.datasource">java:jdbc/aviators</property>
  <property name="show_sql">true</property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <!-- Mapping files -->
  <mapping class="com.intervalintl.ctsapp.domain.Customer" />
</session-factory>
</hibernate-configuration>